.tower {
    margin: 5px;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    transition: transform ease-in-out 0.5s;
}

.active {
    animation: activeTower linear 1s infinite;
}

.player1 {
    border: 10px solid black;
}

.player2 {
    border: 10px solid white;
}

@keyframes activeTower {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}